---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Страница не найдена">
  <h1 class="text-center text-4xl font-bold">404</h1>
  <a href="/" class="mt-4 block text-center text-xl">Вернутся назад</a>
</Layout>
