<footer class="mt-auto flex flex-col">
  <p class="text-sm text-zinc-400">
    © {new Date().getFullYear()} Mihandr.
  </p>
  <p class="text-sm text-zinc-400">
    All blog posts are licensed under{" "}
    <a class="underline" href="https://creativecommons.org/licenses/by-sa/4.0/">
      CC BY-SA
    </a>
    .
  </p>  
</footer>
