---
import Socials from "./Socials.astro";
---

<header
  class="flex w-full flex-col items-center justify-between gap-3 md:flex-row"
>
  <a href="/" class="text-4xl font-semibold">
    Mihandr <span class="text-indigo-500">Blog</span>
  </a>
  <Socials />
</header>
